.formInput {
    position: relative;
    height: fit-content;
    input {
        @apply border-[1px] border-gamefiDark-600 bg-gamefiDark-900 w-full outline-none focus:border-gamefiDark-600;
        box-sizing: border-box;
        width: 100%;
        outline: none;
    }
    span {
        position: absolute;
        content: "";
        width: 2px;
        height: 20px;
        left: 0;
        bottom: 6px;
        @apply bg-gamefiDark-300;
        top: 50%;
        transform: translate(0, -50%);
    }
}