.formInput {
    position: relative;
    height: fit-content;
    input {
        border: 1px solid #3C3C42;
        box-sizing: border-box;
        background: #303035;
        width: 100%;
        outline: none;
    }
    span {
        position: absolute;
        content: "";
        width: 2px;
        height: 20px;
        left: 0;
        bottom: 6px;
        @apply bg-gamefiDark-300;
        top: 50%;
        transform: translate(0, -50%);
    }
}