.carousel {
    overflow: hidden;
    @apply relative items-stretch;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
    @apply items-stretch justify-center align-middle gap-4;
}

.swiperItem {
    display: inline-flex;
}

.carouselList {
    @apply w-full flex;
    & div[data-arrow*="left"] {
        z-index: 1000;
        position: absolute;
        left: -3rem;
        top: 0;
        bottom: 0;
        @media screen and (max-width: 960px) {
            left: 0;
        }
    }
    & div[data-arrow*="right"] {
        z-index: 1000;
        position: absolute;
        right: -3rem;
        top: 0;
        bottom: 0;
        @media screen and (max-width: 960px) {
            right: 0;
        }
    }
    & div[class*="styles-module_slider"] {
        @media screen and (max-width: 960px) {
            margin-left: 40px;
            margin-right: 40px;
        }
    }
}

.carouselMobile {
    li[class*="slide"] {
        display: grid;
        justify-content: center;
    }
    ul[class*="control-dots"] {
        display: none;
    }
    p[class*="carousel-status"] {
        display: none;
    }
}