
.arrow {

  &:hover path {
    stroke:#15171E;
  }
}
.gradientText {
  background: 
  linear-gradient(90.61deg, #FAFF00 -4.94%, #7DFF00 142.13%),
  linear-gradient(90.72deg, #FFE600 28.17%, #ADFF00 134.17%);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.countdown {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.favoriteIcon {
  &:hover {
    path {
      stroke: #fff;
      fill: #fff;
    }
  }
}

@media (min-width: 640px) {
  .itemBannerHub {
    background: linear-gradient(90deg, #15171E 0%, rgba(21, 23, 30, 0.7) 68.75%, rgba(21, 23, 30, 0) 100%);
  }
}

@media (min-width: 1024px) {
  .itemCarousel{
    width: calc(20% - 13px) !important;
    min-width: auto !important;
  }
}

@media (min-width: 1280px) {
  .paginationBanner{
    bottom: 20px !important;
  }
  .topReviewItem {
    max-width: 230px;
  }
}

@media (min-width: 1536px) {
  .topReviewItem {
    max-width: 300px;
  }
}

@media (min-width: 1920px) {
  .itemBannerHub {
    background: linear-gradient(90deg, #15171E 0%, rgba(21, 23, 30, 0.7) 68.75%, rgba(21, 23, 30, 0) 100%);
  }
  .paginationBanner{
    bottom: 48px !important;
  }
  .topReviewItem {
    max-width: 350px;
  }
}
