.pros_text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}

.total_like {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
  color: #ffffff;
  opacity: 0.6;
}

.input_comment {
  background: #21232a;
  border-radius: 4px;
  min-height: 100px;

  .input {
    background: #2b2d35;
    border: 1px solid #454855;
    border-radius: 2px;
    --tw-ring-color: 'transparent' !important;
  }

  .button_submit {
    border-radius: 2px 0 0 2px;
  }
}
