.gradient-box {
  background: linear-gradient(
    91.55deg,
    rgba(255, 255, 255, 0.13) -7.35%,
    rgba(255, 255, 255, 0) 98.92%
  );
}

.gradient-exp {
  border-radius: 1px;
  background: linear-gradient(270deg, #7EFF00 2.11%, #BCDB00 98.59%);
}
