.boxType {
    color: #AEAEAE;
    border: 1px solid #44454B;
    background: transparent;
}

.active {
    background: #2E3038;
    border: 1px solid #C1C1C1;
    color: #fff;
}

.boxTypes {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-auto-rows: minmax(min-content, max-content);
}