.headPool {
    width: 100%;
    overflow: hidden;
}

.headInfoBoxOrder {
    background: linear-gradient(91.55deg, rgba(255, 255, 255, 0.3) -7.35%, rgba(255, 255, 255, 0) 52.92%);
    position: relative;
    border-radius: 2px;
    div:nth-child(2) {
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        border-right: 1px solid rgba(255, 255, 255, 0.1);
    }
}

.headCountdown {
    border-radius: 2px;
    @media all and (min-width: 1024px) {
        -webkit-clip-path: polygon(30px 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(30px 0, 100% 0, 100% 100%, 0% 100%);
        width: calc(100% + 20px);
        margin-left: -20px;
        padding-left: 20px;
    }
    // transform: skew(-30deg);
    // width: calc(100% + 40px);
    // .countdown,
    // .titleCountdown {
    //     transform: skew(30deg);
    // }
}