.content {
    padding: 32px 30px;
    padding-top: 54px;
    background: #28282E;
}

.btnTransfer {
    padding: 11px;
    min-width: 150px;
    height: unset;
    color: #0D0F15;
    @apply text-13px;
    @apply font-bold;
}