@font-face {
  font-family: 'CASpotnik';
  font-style: italic;
  font-weight: 100;
  src: url('./fonts/spotnik/CASpotnik-ThinItalic.woff') format('woff2');
}

@font-face {
  font-family: 'CASpotnik';
  font-style: italic;
  font-weight: 300;
  src: url('./fonts/spotnik/CASpotnik-LightItalic.woff') format('woff2');
}

@font-face {
  font-family: 'CASpotnik';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/spotnik/CASpotnik-Italic.woff') format('woff2');
}

@font-face {
  font-family: 'CASpotnik';
  font-style: italic;
  font-weight: 500;
  src: url('./fonts/spotnik/CASpotnik-MediumItalic.woff') format('woff2');
}

@font-face {
  font-family: 'CASpotnik';
  font-style: italic;
  font-weight: 700;
  src: url('./fonts/spotnik/CASpotnik-BoldItalic.woff') format('woff2');
}

@font-face {
  font-family: 'CASpotnik';
  font-style: italic;
  font-weight: 900;
  src: url('./fonts/spotnik/CASpotnik-ExtraBoldItalic.woff') format('woff2');
}



@font-face {
  font-family: 'CASpotnik';
  font-weight: 100;
  src: url('./fonts/spotnik/CASpotnik-Thin.woff') format('woff2');
}

@font-face {
  font-family: 'CASpotnik';
  font-weight: 300;
  src: url('./fonts/spotnik/CASpotnik-Light.woff') format('woff2');
}

@font-face {
  font-family: 'CASpotnik';
  font-weight: 400;
  src: url('./fonts/spotnik/CASpotnik-Regular.woff') format('woff2');
}

@font-face {
  font-family: 'CASpotnik';
  font-weight: 500;
  src: url('./fonts/spotnik/CASpotnik-Medium.woff') format('woff2');
}

@font-face {
  font-family: 'CASpotnik';
  font-weight: 700;
  src: url('./fonts/spotnik/CASpotnik-Bold.woff') format('woff2');
}

@font-face {
  font-family: 'CASpotnik';
  font-weight: 900;
  src: url('./fonts/spotnik/CASpotnik-ExtraBold.woff') format('woff2');
}

@font-face {
  font-family: 'AtlasGrotesk';
  font-style: italic;
  font-weight: 100;
  src: url('./fonts/atlas-grotesk/AtlasGrotesk-ThinItalic.otf') format('opentype');
}

@font-face {
  font-family: 'AtlasGrotesk';
  font-style: italic;
  font-weight: 300;
  src: url('./fonts/atlas-grotesk/AtlasGrotesk-LightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'AtlasGrotesk';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/atlas-grotesk/AtlasGrotesk-RegularItalic.otf') format('opentype');
}

@font-face {
  font-family: 'AtlasGrotesk';
  font-style: italic;
  font-weight: 500;
  src: url('./fonts/atlas-grotesk/AtlasGrotesk-MediumItalic.otf') format('opentype');
}

@font-face {
  font-family: 'AtlasGrotesk';
  font-style: italic;
  font-weight: 700;
  src: url('./fonts/atlas-grotesk/AtlasGrotesk-BoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'AtlasGrotesk';
  font-style: italic;
  font-weight: 900;
  src: url('./fonts/atlas-grotesk/AtlasGrotesk-BlackItalic.otf') format('opentype');
}

@font-face {
  font-family: 'AtlasGrotesk';
  font-weight: 100;
  src: url('./fonts/atlas-grotesk/AtlasGrotesk-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'AtlasGrotesk';
  font-weight: 300;
  src: url('./fonts/atlas-grotesk/AtlasGrotesk-Light.otf') format('opentype');
}

@font-face {
  font-family: 'AtlasGrotesk';
  font-weight: 400;
  src: url('./fonts/atlas-grotesk/AtlasGrotesk-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'AtlasGrotesk';
  font-weight: 500;
  src: url('./fonts/atlas-grotesk/AtlasGrotesk-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'AtlasGrotesk';
  font-weight: 700;
  src: url('./fonts/atlas-grotesk/AtlasGrotesk-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'AtlasGrotesk';
  font-weight: 900;
  src: url('./fonts/atlas-grotesk/AtlasGrotesk-Black.otf') format('opentype');
}
