.activityTableCellHead {
    background: transparent !important;
    border-bottom: unset !important;
}

.activityTableCell {
    padding: 17px;
    background: #191B23 !important;
    border-bottom: 4px solid #13141f !important;
}

.activityTableBody tr:hover {
    background: rgba(36, 39, 50, 1) !important;
}

.activityTableBody tr:hover td {
    background: transparent !important;
}

.btnclippart {
    -webkit-clip-path: polygon(0 0, calc(100% - 9px) 0, 100% 9px, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(0 0, calc(100% - 9px) 0, 100% 9px, 100% 100%, 0 100%, 0 0);
}