/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

@font-face {
  font-family: Rajdhani;
  src: url('../fonts/Rajdhani/Rajdhani-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Rajdhani;
  src: url('../fonts/Rajdhani/Rajdhani-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: Rajdhani;
  src: url('../fonts/Rajdhani/Rajdhani-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Rajdhani;
  src: url('../fonts/Rajdhani/Rajdhani-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Rajdhani;
  src: url('../fonts/Rajdhani/Rajdhani-Light.ttf');
  font-weight: 300;
}

html, body {
  margin: 0;
  font-family: Rajdhani;
  line-height: 17px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.menu-slide-up > .h-full {
  transition: height 0.4ms ease-out;
}

.clipped-t-r {
  clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%, 0 0);
}

.clipped-t-r-lg {
  clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 15px, 100% 100%, 0 100%, 0 0);
}

.clipped-b-r-full {
  clip-path: polygon(0 0, 100% 0%, calc(100% - 30px) 100%, 0% 100%);
}

.thumbs {
  @apply lg:px-14;
}

.thumb {
  border: none !important;
  height: 80px !important;
}

.thumbs-wrapper {
  margin: 5px 0 !important;
  .selected {
    border: 1px solid #72F34B !important;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gamefiDark-500 rounded;
}