.table-cell {
    // background-color: #1D1D1D;
    background: #15171E;
}

.table-head th {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.table-body tr td {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.table-body tr:hover {
    // background: linear-gradient(270.02deg, rgba(79, 79, 79, 0.3) 0.02%, #676767 44.61%, rgba(79, 79, 79, 0.3) 99.99%);
    background: linear-gradient(90.17deg, #2B2C30 -2.1%, #15171E 70.41%);
}

.table-body tr:hover td {
    background: transparent;
    transition: .3s;
}