.table-cell {
    background-color: #1D1D1D;
}

.table-head th {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.table-body tr td {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.table-body tr:hover {
    background: linear-gradient(270.02deg, rgba(79, 79, 79, 0.3) 0.02%, #676767 44.61%, rgba(79, 79, 79, 0.3) 99.99%);
}

.table-body tr:hover td {
    background: transparent;
    transition: .3s;
}