.auction {
    background-color: #000;
    color: #fff;
    padding-bottom: 2rem;
}

.header {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 3rem;

    svg {
        color: #FFB800;
        position: absolute;
        height: 18px;
        bottom: -11px;
    }
}
.heading {
    margin-top: -1px;
    display: inline-flex;
    clip-path: polygon(0 0, 100% 0, calc(100% - 15px) 100%, 15px 100%);
    text-transform: uppercase;
    padding: 0.75rem;
    background-color: #15171E;
    width: 495px;
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;

    text-align: center;
    text-transform: uppercase;

    vertical-align: middle;
    justify-content: center;

    color: #FFFFFF;
}

.cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 2.5rem;
}
